<div id="chatToggleBtn">
    <button id="btn-message" class="button-message" type="button" aria-expanded="false" aria-controls="chatPopup">
        <div class="content-avatar">
            <div class="avatar">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="#2977f5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2.992 16.342a2 2 0 0 1 .094 1.167l-1.065 3.29a1 1 0 0 0 1.236 1.168l3.413-.998a2 2 0 0 1 1.099.092 10 10 0 1 0-4.777-4.719"/><path d="M8 12h.01"/><path d="M12 12h.01"/><path d="M16 12h.01"/></svg>
            </div>
        </div>
        <div class="chat-toggle-notification-dot" id="chatToggleNotificationDot"></div>
    </button>
</div>
<div id="chatPopup">
    <div id="chatControls">
        <div class="chat-controls-left">
            <div id="chatCloseBtn" class="chat-control-btn">
                <svg width="7" height="7" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14 2L2 14" stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
                    <path d="M2 2L14 14" stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
                </svg>
            </div>
            <div id="chatMinimizeBtn" class="chat-control-btn">
                <svg width="7" height="7" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 8h8" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                </svg>
            </div>
            <div id="chatMaximizeBtn" class="chat-control-btn">
                <svg width="7" height="7" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="3" y="3" width="10" height="10" stroke="currentColor" stroke-width="2" fill="none" />
                </svg>
            </div>
        </div>
        <div class="chat-controls-right">
            <div class="chat-status-indicator" id="chatStatusIndicator">
                <span class="status-text" id="statusText">Active</span>
            </div>
            <div class="notification-dot" id="chatNotificationDot"></div>
        </div>
    </div>
    <div id="querysContent" class="chat-tab-content active">
        <div class="chat-content-area">
            <div id="querysContainer" class="chat-messages-container no-scrollbar">
                <div class="empty-state">
                    <p style="font-size: 52px; color: #2977f5; padding: 0px;">Exunb0t</p>
                    <p>Exunb0t can answer support questions and connect you with admins.</p>
                </div>
            </div>
        </div>
        <div class="chat-input-area">
            <div class="input-wrapper">
                <input type="text" placeholder="Ask a question..." id="queryInput" class="chat-input" maxlength="512" autocomplete="off" />
                <button id="querySendButton" class="send-button" title="Send" disabled>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#2977f5" viewBox="0 0 664 663" width="16" height="16">
                        <path stroke-linejoin="round" stroke-linecap="round" stroke-width="33.67" stroke="currentColor" d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
